# =========================
# QUARTO & RENDERIZADO
# =========================
/.quarto/
/_book/
/_site/
*.html
*.pdf

# =========================
# SISTEMA OPERATIVO
# =========================
*:Zone.Identifier
.DS_Store
Thumbs.db

# =========================
# PYTHON & ENTORNOS
# =========================
__pycache__/
*.pyc
.venv/
venv/
env/
.env